<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    @{ if (ViewBag.email != null)
        {

            <h6>Email: @ViewBag.Email</h6>
            <h5 style="color:red;">@ViewBag.ErrorMessage</h5>

        }
        else if (ViewBag.id != null)
        {
            <h6>Id: @ViewBag.id</h6>
            <h5 style="color:red;">@ViewBag.ErrorMessage</h5>
        }
        else
        {
            <hgroup>
                <h1>Error.</h1>
                <h2>An error occurred while processing your request.</h2>
            </hgroup>
        }
    }

</body>
</html>
